@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@media (prefers-color-scheme: dark) {

}

html {
  min-height: 100vh;
  background: linear-gradient(rgba(69, 69, 69, .8), rgba(69, 69, 69, .6)), url('./bgimage.jpg') no-repeat center;
  background-blend-mode: darken;
  background-size: 400% 400%;
  transition: color 0.5s, background-color 0.5s;
}

body {
  
  color: white;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: block;
  justify-content: center;
  scroll-behavior: smooth;

  padding: 5px;
}
