@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@media (prefers-color-scheme: dark) {

}

body {
  background: rgb(50, 60,70);
  color: white;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: block;
  justify-content: center;
  scroll-behavior: smooth;

  padding: 5px;
}
